<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link  rel="stylesheet" href="../static/css/home.css"  >
<link rel="stylesheet" href="../static/css/login.css" >

</head>
<body>

<div class="header">
  <h1>Blog Homepage</h1>
  <p>A <b>responsive</b> website created by me.</p>
</div>

<div class="navbar">
  <a href="#" class="active">Home</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#" class="right">Link</a>
</div>

<div class="row">
  <div class="side">
    <h2>About Me</h2>
    <h5>Photo of me:</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div>
  </div>
  {% block main %}
  {% endblock %}
</div>

<div class="footer">
  <h2>Footer</h2>

  <button class="open-button" onclick="openForm()">Open Form</button>
  <div class="form-popup" id="myForm">
    <form action="{{url_for('login')}} "class="form-container" method="POST" enctype="multipart/form-data">
      <h1>Login</h1>
  
      <label for="user"><b>Usuário</b></label>
      <input type="text" placeholder="Digite Usuário" name="user" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit" class="btn">Login</button>
      <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>

    </form>
  </div> 

</div>
<script type="text/javascript" src="../static/java_script/Popupform.js"></script>
</body>
</html>
